<footer>
  <!-- place footer here -->
  <!-- <ul class="footer-links">
    <li><a href="/pedidos">Pedidos</a></li>
    <li><a href="/promociones">Promociones</a></li>
    <li><a href="/takeaway">Take Away</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
  <hr /> -->
  <div class="footer-main">
    <ul class="footer-icons">
      <li>
        Nuestras Redes Sociales <br />
        Encuentranos! <br />
      </li>
      <li>
        <a href="https://wa.me/91124039409"
          ><img src="../static/img/whatsapp.png" alt=""
        /></a>
      </li>
      <li>
        <a href="https://www.facebook.com/karim.hamze.585"
          ><img src="../static/img/facebook.png" alt=""
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/karimhamze/"
          ><img src="../static/img/instagram.png" alt=""
        /></a>
      </li>
      <li>
        <a href="https://x.com/Shibu1_"
          ><img src="../static/img/x.png" alt=""
        /></a>
      </li>
      <li>
        <a href=""><img src="../static/img/youtube.png" alt="" /></a>
      </li>
    </ul>
    <div class="footer-map">
      <h5>
        Encuentranos en <br />
        <img src="../static/img/mapa.png" alt="" /> xxxxx xxxx
      </h5>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.7673730663128!2d-58.4620798!3d-34.6353185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca29f6e76f2b%3A0x6fe930f84a9b4a05!2sTandil%202540%2C%20C1406HBB%20C1406HBB%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1722098871781!5m2!1ses-419!2sar"
        width="150"
        height="150"
        style="border-radius: 50%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="footer-info">
      <p>
        ©2024 Kibbehrim, Inc. Todas las marcas comerciales <br />
        <br />
        a las que se hace referencia son propiedad <br />
        <br />
        de sus respectivos dueños. <br />
        <br />
      </p>
      <button class="search-button">
        <a href="/contacto"> Contactanos </a>
      </button>
    </div>
  </div>
</footer>
