<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <header>
    <div class="info">
      <p><img src="../static/img/telefono.png" alt=""> (+xx x xx) xxxx-xxxx</p>
      <p><img src="../static/img/mail.png" alt=""> info@kibbehrim.com.ar</p>
      <p><img src="../static/img/mapa.png" alt=""> xxxxx xxxx</p>
    </div>
      <!-- place navbar here -->
      <nav>
        <p class="home"><a href="/">Kibbehrim</p></a>
        <ul class="content">
          <li><a href="/pedidos">Pedidos</a></li>
          <li><a href="/menu">Menu</a></li>
        <li><a href="/reserva">Reserva</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    <br>
    <div class="banner">

    </div>
    </header>
</html>
