{% include 'header.html' %}

<div class="historia-container">
  <h1 class="titulo-historia">Nuestra Historia</h1>
  <p class="parrafo-historia">
    La cocina nos da nacimiento y razón de ser, somos una empresa familiar,
    cuando la familia Hamze, llega a la Argentina proveniente de Beirut, Líbano.
    Con el correr del tiempo y la historia se fueron sucediendo distintos
    emprendimientos de la familia, hasta llegar a este.
  </p>
  <p class="parrafo-historia">
    En el 2022, luego de mucho esfuerzo, Youssef Hamze junto a su hijo, abre
    este su primer local en la calle Tandil 2540. Desde entonces, abrimos
    nuestras puertas día a día, para ofrecerte los más variados platos
    árabes-sefaradíes, para que puedas disfrutarlo, tanto en nuestro restaurante
    como en tu casa o para cualquier reunión o evento. Cada día buscamos los
    mejores ingredientes para que el sabor sea ese tan especial que te lleva a
    la memoria de aquellos tiempos.
  </p>
</div>

{% include 'footer.html' %}
